.top-nav {
	height:200px;
	margin-top:10px;
	margin-bottom:10px;
}

#logo{
	width:179px;
}
#img {
}
@media screen and (max-width: 991px) {
	.top-nav {
		display: none;
		margin:0;
	}
	.navbar {
		min-height: 50px
	}
}
.navbar{
	background-color:#164394 !important;
}
.content {
	padding-top:20px;
}
